In [1]:
print("Hello world")

Hello world

In [2]:
if 5>3:
print("wrong identation")

IndentationError: expected an indented block after 'if' statement on line 1 (352808136.py, line 2)

In [3]:
if 5>3:
    print("right identation")

right identation

In [4]:
# this is comment
print("comment test")

comment test

In [5]:
# this is comment
# python do not have multiline comment
print("comment test")

comment test

In [6]:
a = 5
b = 6.0098
_car = 'BMW' # can use '' or " "

print(_car)
print(b)
print(a)

BMW
6.0098
5

In [7]:
# value assigned to multiple variables

car1, car2, car3 = "BMW", 'Mercedes', "Volkswagen"
print(car1)
print(car2)
print(car3)

BMW
Mercedes
Volkswagen

In [8]:
# same value assigned to multiple variables

car1 = car2 = car3 = "Viva"
print(car1)
print(car2)
print(car3)

Viva
Viva
Viva

In [9]:
nama = 'Dan'
print('My name is ' + nama)

My name is Dan

In [10]:
nama = 'Dan'
ayat = 'My name is '
print( ayat + nama )

My name is Dan

In [11]:
number1 = 20
number2 = 2020
print(number1 + number2)

2040

In [12]:
location = 'Sungau Petani'

def function1():
    print(location)
    
function1()

Sungau Petani

In [13]:
# global variable
location = 'Sungai Petani'

def function1():
    # local variable
    location = 'Jitra'
    print(location)
    
function1()
print(location)

Jitra
Sungai Petani

In [14]:
# global variable
location = 'Sungai Petani'

def function1():
    # global variable created
    # inside function
    global location
    
    location = 'Jitra'
    print(location)
    
function1()
print(location)

Jitra
Jitra

In [1]:
e = ["wij", "dan", "mohamad"]
print(e)
print(type(e))

['wij', 'dan', 'mohamad']
<class 'list'>

In [2]:
f = ("wij", "dan", "mohamad")
print(f)
print(type(f))

('wij', 'dan', 'mohamad')
<class 'tuple'>

In [3]:
e = ["wij", "dan", "mohamad"]
print(e)

e[2] = "ariff"
print(e)

['wij', 'dan', 'mohamad']
['wij', 'dan', 'ariff']

In [4]:
f = ("wij", "dan", "mohamad")
print(f)
f[2] = ariff
print(f)

('wij', 'dan', 'mohamad')

NameError: name 'ariff' is not defined

In [6]:
e = ["wij", "dan", "mohamad"]
f = ("wij", "dan", "mohamad")

print(e.__sizeof__())
print(f.__sizeof__())

72
48

In [7]:
h = {'name': 'wijdan', 'age': 20}

print("his name is", h['name'])
print("his age is", h['age'])

his name is wijdan
his age is 20

In [1]:
print(1, 2, 3, 4)
print(1, 2, 3, 4, sep='#', end='.')

1 2 3 4
1#2#3#4.

In [2]:
x = 10
y = 2020

print("I am {} years old in {}".format(x,y))

I am 10 years old in 2020

In [3]:
print("i love {0} and {1}".format("roti canai", "teh tarik"))
print("i love {1} and {0}".format("roti canai", "teh tarik"))

i love roti canai and teh tarik
i love teh tarik and roti canai

In [4]:
z = input('Enter a number :')
z

Enter a number :200

'200'

In [5]:
name, age = input('enter your name:'),int(input('enter your age:'))

enter your name:wijdan
enter your age:20

In [6]:
x = 2
y = 4
print("x + y = ", x+y)
print("x - y = ", x-y)
print("x * y = ", x*y)
print("x / y = ", x/y)
print("x // y = ", x//y)
print("x ** y = ", x**y)

x + y =  6
x - y =  -2
x * y =  8
x / y =  0.5
x // y =  0
x ** y =  16

In [7]:
x = 2
y = 4
print("x > y = ", x>y)
print("x < y = ", x<y)
print("x == y = ", x==y)
print("x != y = ", x!=y)
print("x >= y = ", x>=y)
print("x <= y = ", x<=y)

x > y =  False
x < y =  True
x == y =  False
x != y =  True
x >= y =  False
x <= y =  True

In [8]:
x = True
y = False
print("x and y = ", x>y)
print("x or y = ", x<y)
print("x not y = ", x==y)

x and y =  True
x or y =  False
x not y =  False

In [9]:
x = 8
y = 4

print(x&y) #and
print(x|y) #or
print(~x) #not
print(x^y) #exclusive or
print(x>>2) #bitwise right shift
print(x<<2) #bitwise left shift

0
12
-9
12
2
32

In [11]:
z = input('Enter a number :')
z

Enter a number :200

'200'

In [12]:
name, age = input('enter your name:'), int(input('enter your age:'))

enter your name:wijdan
enter your age:20